<h1>Doctors</h1>
<form action="/doctorSearch" method="get">
  <input type="text" name="q">
  <button class="btn_del block" type="submit">Search by Name</button>
  <a  href="/doctors" type="submit">Reset search</a>
</form>
{{#if doctors.length}}
{{#each doctors}}
<div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-content">
          <h4 >{{dataValues.name}} {{dataValues.surname}}</h4>
          <h5 >Rank: {{dataValues.rank}} || Specialist: {{dataValues.specialty}}</h5>
        </div>
        <form  class="card-action" method="POST" action="/doctor/{{dataValues.id}}/delete">
        <button class="btn_del" type="submit"> Delete Doctor</button>
        </form>
      </div>
    </div>
  </div>
{{/each}}
{{else}}
<h5>There are no doctors yet.</h5>
{{/if}}

<div class="row addblock"> 
    <div class="col s6 offset-s3 ">
      <div class="card w500">
        <div class="card-content ">
          <h2>Add patient</h2>
  <div class="row">
    <form action="/doctors" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input  name="name" id="name" placeholder="  " type="text" class="validate">
          <label for="name" class="active">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="surname"  name="surname"  placeholder="  " type="text" class="validate">
          <label for="surname" class="active">Last Name</label>
        </div>
      </div>
       
      <div class="row">
        <label>Rank</label>
        <select  name="rank" class="browser-default" class="input-field col s12 validate" >
          <option value="" disabled selected>Choose doctor rank</option>
          <option value="Specialist" >Specialist</option>
          <option value="Lieutenant" >Lieutenant</option>
          <option value="Captain" >Captain</option>
          <option value="Major" >Major</option>

        </select>
      </div>
      <div class="row">
         <label>Specialist</label>
        <select  name="specialty" class="browser-default"  class="input-field col s12 validate" >
          <option value="" disabled selected>Choose doctor specialise</option>
          <option value="Dentist" >Dentist</option>
          <option value="Therapist" >Therapist</option>
          <option value="Surgeon" >Surgeon</option>
          <option value="Cardiologist" >Cardiologist</option>
          <option value="Oncologist" >Oncologist</option>
          <option value="Ophthalmologist" >Ophthalmologist</option>
        </select>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Add doctor
      <i class="material-icons right"></i>
    </button>
    </form>
  </div>
</div>
</div>
</div>


